Repository prgrms-be-devcourse/NBE6-8-2-Team07, pull requests merged in 2025-07, with the labels that each got.

#17 [Feat] 유저 엔티티 정의
  backend/src/main/java/com/back/fairytale/domain/user/controller/UserController.java
  backend/src/main/java/com/back/fairytale/domain/user/entity/User.java
  backend/src/main/java/com/back/fairytale/domain/user/enums/IsDeleted.java
  backend/src/main/java/com/back/fairytale/domain/user/enums/Role.java
  backend/src/main/java/com/back/fairytale/domain/user/repository/UserRepository.java
Labels: enhancement, backend

#32 [Feat] keyword 관련 클래스 틀 생성 (Enhancement/21)
  backend/src/main/java/com/back/fairytale/domain/keyword/controller/KeywordController.java
  backend/src/main/java/com/back/fairytale/domain/keyword/dto/KeywordRequestDto.java
  backend/src/main/java/com/back/fairytale/domain/keyword/dto/KeywordResponseDto.java
  backend/src/main/java/com/back/fairytale/domain/keyword/repository/KeywordRepository.java
  backend/src/main/java/com/back/fairytale/domain/keyword/service/KeywordService.java
Labels: enhancement

#62 [Feat] 특정키워드 조회 구현
  backend/src/main/java/com/back/fairytale/domain/keyword/controller/KeywordController.java
  backend/src/main/java/com/back/fairytale/domain/keyword/entity/Keyword.java
  backend/src/main/java/com/back/fairytale/domain/keyword/service/KeywordService.java
  backend/src/test/java/com/back/fairytale/domain/keyword/controller/KeywordControllerTest.java
Labels: enhancement

#84 [Feat] 키워드 삭제 기능 구현
  backend/src/main/java/com/back/fairytale/domain/keyword/controller/KeywordController.java
  backend/src/main/java/com/back/fairytale/domain/keyword/entity/Keyword.java
  backend/src/main/java/com/back/fairytale/domain/keyword/service/KeywordService.java
  backend/src/test/java/com/back/fairytale/domain/keyword/service/KeywordServiceTest.java
Labels: enhancement

#114 [Fix]: 토큰 검증 테스트 수정
  backend/src/test/java/com/back/fairytale/domain/user/controller/UserControllerTest.java
  backend/src/test/java/com/back/fairytale/domain/user/service/AuthServiceTest.java
Labels: backend

#130 [Feat] API 접근 권한 설정
  backend/src/main/java/com/back/BackendApplication.java
  backend/src/main/java/com/back/fairytale/domain/user/entity/User.java
  backend/src/main/java/com/back/fairytale/global/security/CustomAuthenticationEntryPoint.java
  backend/src/main/java/com/back/fairytale/global/security/JWTProvider.java
  backend/src/main/java/com/back/fairytale/global/security/OAuth2LoginSuccessHandler.java
  backend/src/main/java/com/back/fairytale/global/security/SecurityConfig.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/application-test.yml
  frontend/src/app/fairytale/post/page.tsx
Labels: enhancement, backend

#134 [Feat]: Cors 환경 별로 설정 분리
  backend/src/main/java/com/back/fairytale/global/security/CorsProperties.java
  backend/src/main/java/com/back/fairytale/global/security/SecurityConfig.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
Labels: enhancement, backend

#144 [Feat] 토큰 만료 후 자동으로 재발급 되도록 수정
  backend/src/main/java/com/back/fairytale/global/security/JWTProvider.java
  backend/src/main/java/com/back/fairytale/global/security/JwtAuthenticationFilter.java
Labels: enhancement, backend
