Repository prgrms-be-devcourse/NBE6-8-2-Team07, pull requests merged in 2025-08, with the labels that each got.

#159 [Refactor] 리프레시 토큰 동기화 처리 부분 리팩토링
  backend/src/main/java/com/back/fairytale/domain/user/dto/FavoriteDto.java
  backend/src/main/java/com/back/fairytale/domain/user/service/AuthService.java
  backend/src/main/java/com/back/fairytale/domain/user/service/FavoriteService.java
  backend/src/main/java/com/back/fairytale/domain/user/service/OAuth2UserManagerImpl.java
  backend/src/main/java/com/back/fairytale/global/security/JwtAuthenticationFilter.java
  backend/src/main/java/com/back/fairytale/global/security/SecurityConfig.java
  backend/src/main/java/com/back/fairytale/global/security/jwt/JWTProvider.java
  backend/src/main/java/com/back/fairytale/global/security/jwt/JWTUtil.java
  backend/src/main/java/com/back/fairytale/global/security/jwt/JwtAuthenticationFilter.java
  backend/src/main/java/com/back/fairytale/global/security/oauth2/CustomAuthenticationEntryPoint.java
  backend/src/main/java/com/back/fairytale/global/security/oauth2/CustomLogoutHandler.java
  backend/src/main/java/com/back/fairytale/global/security/oauth2/CustomOAuth2UserService.java
  backend/src/main/java/com/back/fairytale/global/security/oauth2/OAuth2LoginSuccessHandler.java
  backend/src/main/java/com/back/fairytale/global/security/oauth2/OAuth2UserInfo.java
  backend/src/main/java/com/back/fairytale/global/security/port/LogoutService.java
  backend/src/main/java/com/back/fairytale/global/security/port/OAuth2UserManager.java
  backend/src/main/java/com/back/fairytale/global/security/port/UserTokenService.java
  backend/src/test/java/com/back/fairytale/domain/user/service/AuthServiceTest.java
  backend/src/test/java/com/back/fairytale/global/security/JWTUtilTest.java
Labels: enhancement, backend

#163 feat : 로그인 상태 조회용 API 구현
  backend/src/main/java/com/back/fairytale/domain/user/controller/UserController.java
  backend/src/main/java/com/back/fairytale/global/security/SecurityConfig.java
Labels: enhancement, backend

#171 [Refactor] : UserController 테스트 코드 수정 및 사용자 정보 조회 테스트 추가
  backend/src/test/java/com/back/fairytale/domain/user/controller/UserControllerTest.java
Labels: backend

#190 [Feat] 프론트엔드 로그인 팝업 UI 수정
  frontend/public/images/naver-login.png
  frontend/src/app/clientLayout.tsx
Labels: frontend

#200 [Feat] 로그인 실패 시 팝업창에 문구 추가
  frontend/src/app/clientLayout.tsx
Labels: frontend

#206 동화 갤러리 페이지 수정
  frontend/src/app/fairytale/gallery/[id]/page.tsx
  frontend/src/app/fairytaleGallery/page.tsx
Labels: frontend

#217 좋아요 눌렀을때 반영되지않는 문제 해결
  backend/src/main/java/com/back/fairytale/domain/fairytale/entity/Fairytale.java
Labels: backend

#222 좋아요 기능 새로고침 후 유지 안되는 문제 + 좋아요 개수 표시
  frontend/src/app/fairytaleGallery/page.tsx
Labels: frontend

#224 좋아요 개수 표시 기능 구현
  backend/src/main/java/com/back/fairytale/domain/fairytale/dto/FairytalePublicListResponse.java
Labels: backend
